:root {
    /* Font-Family */
    --primary-font: 'Nunito', sans-serif;
    --secondary-font: 'Heebo', sans-serif;
    --title-font : 'Pacifico', sans-serif;
    /* Font-Size */

    --fontm40 : -40px;
    --font5 : 5px;
    --font10 : 10px;
    --font14 : 14px;
    --font15 : 15px;
    --font16 : 16px;
    --font20 : 20px;
    --font24 : 24px;
    --font32 : 32px;
    --font40 : 40px;
    --font48 : 48px;
    --font64 : 64px;
    --font100 : 100px;
    --font150 : 150px;
    --font200 : 200px;

    /* Color */
    --color-orange : #fea116;
    --color-white : #ffffff;
    --color-black : #0f172b;
    --color-gray : #666565;
    --color-darkBackground : rgba(15, 23, 43);
    --color-lightBackground : #f3f3f3;

}
html,body {
    padding : 0;
    margin : 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,li {
    list-style: none;
    padding : 0;
    margin : 0;
}

#header {
    width: 55%;
    background: url(./image/bg-hero.jpg) no-repeat center/cover var(--color-darkBackground);
    background-blend-mode: multiply;
    padding : var(--font10) 0;
    margin : 0 auto;
}
#nav {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top : var(--font5);
}
.nav__logo {
    margin-left: var(--font20);
    position: relative;
    top : -100px;
    transition: top 0.3s ease-in-out;
}
.nav__logo.show {
    top : 0;
}
.nav__menus {
    display: flex;
    align-items: center;
    margin : 0;
    margin-right: var(--font20);
    height: 100%;
    position: relative;
    top: -50px; 
    right : -50px;
    transition: top 0.3s ease-in-out, right 0.3s ease-in-out;
}
.nav__menus.show {
    top : 0;
    right : 0;
}
.nav__logo i, .nav__logo span {
    font-size: var(--font40);
    color : var(--color-orange);
    font-weight: bolder;
}
.menu {
    margin-right: var(--font20);
}
.menu:not(:last-child):hover a {
    color : var(--color-orange);
    transition: color 0.4s;
}
.menu:nth-child(1) a {
    color : var(--color-orange);
}
.menu a{
    color : var(--color-white);
    font-family: var(--secondary-font);
    font-size: var(--font15);
    font-weight: 500;
}
.menu:nth-child(5) a i {
    padding-bottom: 5px;
}
.menu:last-child {
    display: flex;
    align-items: center;
    background-color: var(--color-orange);
    border-radius: var(--font5);
    margin-right: 0;
    height: 60%;
    padding : 5px;
}

.header__underContainer {
    display: flex;
    
}
.header__leftContent {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--font200) 0;
    margin-left: var(--font20);
}
.leftContent__title {
    font-family: var(--primary-font);
    font-size: var(--font64);
    font-weight: 900;
    color : var(--color-white);
    margin-bottom: 0;
    position: relative;
    left : -200px;
    transition: left 0.3s linear;
}
.leftContent__title.show {
    left : 0;
}
.leftContent__script {
    font-family: var(--secondary-font);
    font-size: var(--font16);
    color : var(--color-white);
    font-weight: 500;
    margin-bottom: var(--font20);
    position: relative;
    left : -200px;
    transition: left 0.3s ease-in;
}
.leftContent__script.show {
    left : 0;
}
.leftContent__bookBtn {
    background-color: var(--color-orange);
    font-size: var(--font16);
    font-family: var(--secondary-font);
    font-weight: 600;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding : var(--font16);
    color : var(--color-white);
    border-radius: var(--font5);
    position: relative;
    left : -100px;
    transition: left 0.3s linear;
}
.leftContent__bookBtn.show {
    left : 0;
}
.leftContent__imgContainer {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.headerImg {
    width: 90%;
    position: relative;
    animation: rotate 60s linear infinite;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.hiddenBurger {
    display: none;
}
/* Services Part */
#services {
    padding: var(--font100) 0;
    width: 55%;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--color-lightBackground);
}
.service {
    position: relative;
    width: 20%;
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding : var(--font16);
    color : var(--color-black);
    transition: background-color 0.7s, color 0.7s;
}
.service:nth-child(1) {
    top : 150px;
    transition: top 0.2s ease-in;
}
.service:nth-child(2) {
    top : 150px;
    transition: top 0.4s ease-in;
}
.service:nth-child(3) {
    top : 150px;
    transition: top 0.6s ease-in;
}
.service:nth-child(4) {
    top : 150px;
    transition: top 0.8s ease-in;
}
.service.appear {
    top : 0;
}
.service:hover {
    background-color: var(--color-orange);
    color : var(--color-white);
}
.service:hover i, .service:hover span, .service:hover p {
    color : var(--color-white);
}
.service i {
    color : var(--color-orange);
    font-size: var(--font40);
}
.service__title {
    margin-top: var(--font16);
    font-family: var(--primary-font);
    font-size: var(--font20);
    font-weight: 800;
}
.service__content {
    font-family: var(--secondary-font);
    font-size: var(--font16);
    font-weight: 400;
    color : var(--color-gray);
}


/* About Part */
#about {
    display: flex;
    justify-content: space-evenly;
    width: 55%;
    background-color: var(--color-lightBackground);
}
.about__storeImgs {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.storeImgs__up, .storeImgs__down {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: var(--font10);
}
.storeImgs__up>img, .store__img2Container {
    width: 48%;
}
.store__img2Container, .store__img3Container {
    position: relative;
}
.store__img2Container img {
    position: absolute;
    width: 75%;
    bottom: 0;
}
.store__img3Container, .storeImgs__down>img {
    width: 48%;
}
.store__img3Container img {
    width: 75%;
    position: absolute;
    right :0;
}
.aboutImg:nth-child(1) {
    transform: scale(0);
    transition: transform 0.8s ease-in;
}
.aboutImg:nth-child(2) {
    transform: scale(0);
    transition: transform 1.2s ease-in-out;
}
.aboutImg:nth-child(3) {
    transform: scale(0);
    transition: transform 1.6s ease-in;
}
.aboutImg:nth-child(4) {
    transform: scale(0);
    transition: transform 2.3s ease-in-out;
}
.aboutImg.show {
    transform: scale(1);
}

.about__description {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    bottom: -200px;
    transition: bottom 1s ease-in-out;
}
.about__description.show {
    bottom: 0;
}
.description__titleContainer {
    display: flex;
    align-items: center;
}
.description__title {
    font-family: var(--title-font);
    font-size: var(--font20);
    color : var(--color-orange);
    font-weight: 400;
}
.titleLine {
    border-top: 2px solid var(--color-orange);
    width: var(--font40);
}
.description__subtitle {
    font-family: var(--primary-font);
    font-size: var(--font40);
    font-weight: 800;
}
.description__subtitle i {
    color : var(--color-orange);
}
.about__description>p {
    font-family: var(--secondary-font);
    color : var(--color-gray);
}
.description__experiences {
    width: 100%;
    display: flex;
}
.experience__first, .experience__second {
    width: 50%;
    display: flex;
    align-items: center;
    border-left: 5px solid var(--color-orange);
}
.first__left, .second__left {
    font-family: var(--primary-font);
    font-size: var(--font48);
    margin : 0 var(--font16);
    color : var(--color-orange);
}
.first__right, .second__right {
    display: flex;
    flex-direction: column;
}
.first__right--up, .second__right--up {
    font-family: var(--primary-font);
    color : var(--color-gray);
}
.first__right--down, .second__right--down {
    font-family: var(--secondary-font);
    color : var(--color-black);
    font-weight: 600;
}.description__readMore {
    margin-top: var(--font15);
    color : var(--color-white);
    background-color: var(--color-orange);
    width: var(--font150);
    display: flex;
    align-items: center;
    justify-content: center;
    padding : var(--font14);
    font-size: var(--font16);
    font-family: var(--primary-font);
    border-radius: 3px;
}

.description__readMore:hover {
    opacity: 0.8;
    transition: opacity 0.7s;
}

/* Food Parts */
#foods {
    display: flex;
    flex-direction: column;
    background-color: var(--color-lightBackground);
    width: 55%;
    align-items: center;
    padding : var(--font10);
    box-sizing: border-box;
}
.foods__titleContainer {
    display: flex;
    margin-top: var(--font48);
    align-items: center;
    position: relative;
    bottom: -100px;
    transition: bottom 0.7s ease-in;
}
.foods__titleContainer.show {
    bottom: 0;
}
.foods__title {
    font-family: var(--title-font);
    font-size: var(--font20);
    color : var(--color-orange);
    font-weight: 400;
}
.foods__subtitle {
    font-family: var(--primary-font);
    font-size: var(--font40);
    font-weight: 800;
    position: relative;
    bottom: -100px;
    transition: bottom 0.7s ease-in;
}
.foods__subtitle.show {
    bottom: 0;
}
.foods__collections {
    position: relative;
    display: flex;
    margin-top: var(--font20);
    position: relative;
    bottom: -150px;
    transition: bottom 1s ease-in-out;
}
.foods__collections.show {
    bottom: 0;
}

.collection {
    background-color: var(--color-lightBackground);
    display: flex;
    align-items: center;
    cursor: pointer;
    margin : 0 var(--font10);
    border: none;
    border-bottom: 1px solid var(--color-gray);
    padding : var(--font10);
}
.collection.active {
    border-bottom: 3px solid var(--color-orange);
}
.collection i {
    font-size: var(--font40);
    color : var(--color-orange);
}
.collection div {
    margin-left: var(--font10);
}
.collection__hyung {
    font-family: var(--secondary-font);
    font-size: var(--font14);
    color : var(--color-gray);
    font-weight: 500;
}
.collection__meal {
    margin : 0;
    font-size: var(--font16);
    font-family: var(--primary-font);
    font-weight: 800;
}
.foods_choicesContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: var(--font40);
    position: relative;
    top : 250px;
    transition: top 1.3s ease-in-out;
}
.foods_choicesContainer.show {
    top : 0;
}
.choice {
    display: flex;
    width: 50%;
    padding : var(--font10);
    box-sizing: border-box;
    display: none;
}
.choice.show {
    display: flex;
}
.choice>img {
    width: var(--font100);
    height: var(--font100);
}
.choice__detail {
    margin-left: var(--font10);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.detail__up {
    display: flex;
    justify-content: space-between;
    font-size: var(--font20);
    color :var(--color-black);
    font-family: var(--primary-font);
    font-weight: 800;
    border-bottom: 0.5px solid var(--color-gray);
}
.detail__up span:nth-child(2) {
    color : var(--color-orange);
}
.detail__down {
    margin : 0;
    font-size: var(--font14);
    font-family: var(--secondary-font);
    color : var(--color-gray);
}

/* Reservation Part */
#reservation {
    position: relative;
    padding-top: var(--font100);
    width: 55%;
    display: flex;
    background-color: var(--color-lightBackground);
    left: -200px;
    transition: left 2.5s ease-in-out;
}
#reservation.show {
    left: 0;
}
.reservation__bgYoutube {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    background: url(./image/video.jpg) no-repeat center/cover;
}
.reservation__bgYoutube>button:nth-child(1) {
    position: absolute;
    z-index: 2;
    width: var(--font100);
    height: var(--font100);
    background-color: var(--color-orange);
    border-radius: 50%;
    border: none;
}
.reservation__bgYoutube>button:nth-child(2) {
    position: absolute;
    z-index: 1;
    width: var(--font100);
    height: var(--font100);
    border-radius: 50%;
    border: none;
    background-color: var(--color-orange);
    animation: opacity 1.2s infinite;
}

@keyframes opacity {
    0% {
        width: var(--font100);
        height: var(--font100);
        opacity: 1;
    }
    100% {
        width: var(--font150);
        height: var(--font150);
        opacity: 0;
    }
}

.reservation__bgYoutube i {
    display: flex;
    
    justify-content: center;
    align-items: center;
    padding-left: var(--font5);
}

.reservation__online {
    width: 50%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex-wrap: wrap;
    padding : var(--font40);
    background-color: var(--color-darkBackground);
}
.online__title {
    font-family: var(--title-font);
    font-size: var(--font20);
    color : var(--color-orange);
    font-weight: 400;
    display: flex;
    align-items: center;
    
}
.online__subtitle {
    font-family: var(--primary-font);
    font-size: var(--font40);
    font-weight: 800;
    color : var(--color-white);
    margin-top: 0;
}
.reservation__online>form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.reservation__online > form > input[type="text"],
.reservation__online > form > input[type="email"],
.reservation__online > form > input[type="datetime"],
.reservation__online > form > select {
    width: calc(50% - 20px);
    box-sizing: border-box;
    padding : var(--font10);
    margin: var(--font10);
}
.reservation__online > form > textarea {
    padding : var(--font10);
    width: 100%;
    margin : var(--font10);
    box-sizing: border-box;
}
.reservation__online > form > textarea::placeholder {
    font-family: var(--secondary-font);
}
.reservation__online>form>input[type="submit"] {
    width: 100%;
    margin : var(--font10);
    padding: var(--font10);
    background-color: var(--color-orange);
    border-radius: 5px;
    border: none;
    color :var(--color-white); 
    font-size: var(--font16);
    font-family: var(--primary-font);
}

/* Members Part */
#members {
    position: relative;
    width: 55%;
    background-color: var(--color-lightBackground);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.members__titleContainer {
    margin-top: var(--font64);
    display: flex;
    align-items: center;
}
.members__title {
    font-family: var(--title-font);
    font-size: var(--font20);
    color : var(--color-orange);
    font-weight: 400;
}

.members__subtitle {
    font-family: var(--primary-font);
    font-size: var(--font40);
    font-weight: 800;
}
.members__member {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.member {
    position: relative;
    width: 21%;
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.member:hover .member__btnHidden  {
    height: 0;
}
.member:hover img {
    transform: scale(1.2);
}
.member__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    border-radius: 50%;
    margin :  var(--font10);
    overflow: hidden;
    transform: scale(1);
    
}
.member img {
    width: 100%;
    height: 100%; 
    transition: transform 0.7s;
}
.member__name {
    font-family: var(--primary-font);
    font-size: var(--font20);
    color : var(--color-black);
    font-weight: 800;
}
.member__designation {
    font-family: var(--secondary-font);
    font-size: var(--font14);
    color : var(--color-gray);
    margin: 0 0 var(--font15) 0;
    
}
.member__btnLine {
    bottom: var(--fontm40);
    
    background-color: var(--color-white);
}
.member__btnLine button {
    padding : var(--font10);
    border-radius: 50% 50% 0 0;
    height: var(--font40);
    border: none;
    background-color: var(--color-orange);
}
.member__btnLine i {
    background-color : var(--color-orange);
    color : var(--color-white);
    font-size: var(--font16);
}
.member__btnHidden {
    position: absolute;
    width: 100%;
    height: 50px;
    bottom : 0;
    background-color: var(--color-lightBackground);
    transition: height 0.7s;
}

/* Testimonial Part */
#testimonials {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-lightBackground);
    position: relative;
    padding-bottom: 600px;
    overflow: hidden;
}
.testimonials__titleContainer {
    display: flex;
    padding-top: var(--font40);
    align-items: center;
}
.testimonials__title {
    font-family: var(--title-font);
    font-size: var(--font20);
    color : var(--color-orange);
    font-weight: 400;
    
}
.testimonials__subtitle {
    font-family: var(--primary-font);
    font-size: var(--font40);
    font-weight: 800;
    margin-top: 0;
}   
.testimonials__forArea {
    width: 100%;
    height: 00px;
}
.testimonials_testimonial {
    position: absolute;
    top : var(--font200);
    display: flex;
    /* 대략적으로 width 잡아둠 */
    width: 100%;
    box-sizing: border-box;
    padding : 0;
    left : 0;
    transition: left 0.7s;
}
.testimonial {
    position: absolute;
    display: flex;
    flex-direction: column;
    float : left;
    width: calc(100%*0.3);
    border: 1px solid var(--color-gray);
    padding : var(--font10);
    box-sizing: border-box;
    border-radius: var(--font5);
}
.testimonial.colored {
    background-color: var(--color-orange);
    border: none;
}
.testimonial:first-child {
    margin-left: 0;
}
.testimonial:last-child {
    margin-right: 0;
}
.testimonial__client {
    display: flex;
    width: 100%;
    padding : var(--font10);
}
.testimonial i {
    font-size: var(--font48);
    color: var(--color-orange);
}
.testimonial i.colored {
    color : var(--color-white);
}
.testimonial__client img {
    width: 30%;
    border-radius: 50%;
}
.testimonal__saying {
    font-size: var(--font16);
    font-family: var(--secondary-font);
    color : var(--color-gray);
}
.testimonal__saying.colored {
    color : var(--color-white);
}
.client__information {
    display: flex;
    flex-direction: column;
    padding: var(--font10);
}
.client__information--name {
    font-size: var(--font20);
    font-family: var(--primary-font);
    color : var(--color-black);
    font-weight: 700;
}
.client__information--name.colored {
    color : var(--color-white);
}
.client__information--profession {
    font-size: var(--font14);
    font-family: var(--secondary-font);
    color : var(--color-gray);
    margin : 0;
}
.client__information--profession.colored {
    color : var(--color-white);
}
.testimonials__btns {
    position: absolute;
    bottom: 0;
    left : 50%;
    transform: translateX(-50%);
}
.testimonials__btns button {
    width: var(--font20);
    height: var(--font20);
    border-radius: 50%;
    border: 1px solid var(--color-gray);
    background-color: var(--color-lightBackground);
    margin : var(--font10);
}
.testimonials__btns button.colored {
    background-color: var(--color-orange);
}

#footer {
    background-color: var(--color-darkBackground);
    display: flex;
    flex-direction: column;
    width: 55%;
    margin-top: var(--font100);
    padding : var(--font64) var(--font20) var(--font20) var(--font20);
    box-sizing: border-box;
}

.footer__up {
    display: flex;
}
.footer__up li {
    font-size: var(--font15);
    margin-bottom: var(--font10);
    font-family: var(--primary-font);
}
.footer__company, .footer__contact, .footer__opening, .footer__Newsletter {
    display: flex;
    flex-direction: column;
    color : var(--color-white);
}
.footer__company, .footer__opening {
    width: 20%;
}
.footer__contact, .footer__Newsletter {
    width: 30%;
}
.footer__contact p {
    margin : 0;
}
.footer__titleLine {
    display: flex;
    align-items: center;
}
.footer__titleLine h1 {
    color : var(--color-orange);
    font-family: var(--title-font);
    font-size: var(--font24);
    display: flex;
}
.contact__lists li {
    display: flex;
    align-items: center;
    font-family: var(--secondary-font);
    font-size: var(--font15);
}
.contact__lists li:last-child ul {
    display: flex;
    justify-content: space-between;
    width: 60%;
}
.contact__lists li:last-child ul li {
    border: 1px solid var(--color-white);
    border-radius: 50%;
    padding : var(--font5);
}
.opening__lists li {
    font-size: var(--font16);
    font-family: var(--secondary-font);
}
.opening__lists li p {
    margin-top: var(--font5);
}
.footer__down {
    height: var(--font48);
    border-top: 1px solid var(--color-gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color : var(--color-white);
}
.footer__down p {
    margin : 0;
}
.footer__down a {
    text-decoration: none;
    border-bottom: 1px solid var(--color-white);
    color : var(--color-white);
}
.footer__down--right {
    width: 35%;
    display: flex;
    justify-content: center;
}
.footer__down--right li {
    margin-right: var(--font10);
}
.footer__down--right li:not(:last-child)::after {
    content: '|';
}
.footer__Newsletter form {
    position: relative;
    width: 80%;
}
.footer__Newsletter form input:nth-child(1) {
    width: 100%;
    height: var(--font40);
}
.footer__Newsletter form input:nth-child(2) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    padding : var(--font10);
    background-color: var(--color-orange);
    color : var(--color-white);
    border: none;
    border-radius: var(--font5);
}

.fixedNav {
    width: 100%;
    background-color: var(--color-darkBackground);
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: var(--font5) 0;
    top: -250px;
    transition: top 0.7s;
}
.fixedNav.show {
    top : 0;
}
.fixedNav__logo {
    font-size: var(--font40);
    color : var(--color-orange);
    font-weight: bolder;
}
.fixedNavnav__menus {
    display: flex;
    align-items: center;
}
.fixedNavmenu a{
    color : var(--color-white);
}
.fixedNavmenu {
    margin-right: var(--font20);
}
.fixedNavmenu:not(:last-child):hover a {
    color : var(--color-orange);
    transition: color 0.4s;
}
.fixedNavmenu:nth-child(1) a {
    color : var(--color-orange);
}
.fixedNavmenu:last-child {
    display: flex;
    align-items: center;
    background-color: var(--color-orange);
    border-radius: var(--font5);
    height: 60%;
    padding : 5px;
}
#gotoTop {
    background-color: var(--color-orange);
    border: none;
    border-radius: var(--font5);
    width: var(--font48);
    height: var(--font48);
    position: fixed;
    bottom : var(--font48);
    right : var(--font48);
    opacity: 0;
    transition: opacity 1.5s;
}
#gotoTop.show {
    opacity: 1;
}
.fixedHiddenBurger {
    display: none;
}
#btnModal.show {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
    background-color: var(--color-darkBackground);
    right : -1500px;
    transition: right 0.2s ease-in-out;
    visibility: hidden;
}
#btnModal.active {
    right : 0;
    visibility: visible;
}
.btnModal__lists {
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btnModal__list {
    padding : var(--font32);
}
.btnModal__list a {
    color : var(--color-white);
    font-size: var(--font40);
    width: 100%;
    height: 100%;
}
.btnModal__infLine {
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-between;
}
.infLine__title {
    font-size: var(--font40);
    color : var(--color-orange);
}
.infLine__X {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-lightBackground);
    color : var(--color-gray);
    border : none;
    border-radius: 50%;
    padding : var(--font10);
    width: var(--font40);
    height: var(--font40);
}

/* Responsive */

@media screen and (max-width: 1450px) {
    #header {
        width: 100%;
    }
    #nav {
        position: relative;
    }
    .nav__menus {
        display: none;
    }
    .hiddenBurger {
        background-color: transparent;
        color : var(--color-white);
        border : none;
        font-size: var(--font24);
        cursor: pointer;
        padding : 0;
        margin : 0;
        position: absolute;
        display: block;
        right : var(--font32);
        top : var(--font24);
    }
    .header__underContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: var(--font14);
    }
    .header__leftContent {
        padding-top: 0;
        padding-bottom: var(--font32);
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @media screen and (max-width: 1250px) {
        #services {
            width: 100%;
            flex-wrap: wrap;
        }
        .service {
            width: 48%;
            margin : var(--font10);
            display: flex;
            align-items: center;
            text-align: center;
        }
        #about {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
        .about__description.show {
            margin-top: var(--font40);
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .description__readMore {
            margin-top: var(--font40);
        }
        #foods {
            width: 100%;
        }
        #reservation {
            width: 100%;
        }
        #members {
            width: 100%;
        }
        #testimonials {
            width: 100%;
        }
        #footer {
            width: 100%;
        }
        
    }
    @media screen and (max-width: 818px) {
        .description__experiences {
            display: flex;
            flex-direction: column;
        }
        .experience__first {
            margin-bottom: var(--font16);
        }
        .foods_choicesContainer {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .choice {
            width: 70%;
        }
        #reservation {
            flex-wrap: wrap;
        }
        .reservation__bgYoutube {
            width: 100%;
        }
        .reservation__online {
            width: 100%;
        }
        #members {
            margin-top: 600px;
        }
        .members__member {
            flex-wrap: wrap;
        }
        .member {
            width: 35%;
        }
        .testimonial {
            width: 40%;
        }
        .footer__up {
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
        .footer__up>div {
            width: 40%;
        }
        .footer__down {
            flex-direction: column;
        }
        .footer__down--right {
            display: flex;
        }
        .fixedNav {
            justify-content: flex-start;
            padding-left: var(--font40);
        }
        .fixedNavnav__menus {
            display: none;
        }
        .fixedHiddenBurger {
            background-color: transparent;
            color : var(--color-white);
            border : none;
            font-size: var(--font24);
            cursor: pointer;
            padding : 0;
            margin : 0;
            position: absolute;
            display: block;
            right : var(--font40);
            top : var(--font20);
        }
        .footer__down--right li {
            display: flex;
            margin-right: var(--font10);
        }
    }
    @media screen and (max-width: 480px) {
        .foods__subtitle {
            font-size: var(--font32);
        }
        .foods__collections {
            flex-direction: column;
        }
        #reservation {
            padding-bottom: var(--font48);
        }
        .member {
            width: 60%;
        }
        .footer__up>div {
            width: 70%;
            align-items: start;
        }
        .footer__up>div:last-child {
            margin-bottom: var(--font15);
        }
        .footer__down {
            padding-top: var(--font10);
        }
        .footer__down--left {
            font-size: var(--font10);
        }
        .footer__down--right {
            font-size: var(--font14);
        }
    }
}